{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>个人中心</title>
    <link rel="stylesheet" href="{% static 'users_plus/vendor/bootstrap/css/bootstrap.css' %}">
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-7">
            <form action="" method="post">
            {% csrf_token %}
                {% for field in form %}
                    <div class="form-group">
                        <label for="{{ field.auto_id }}" class="form_text_label">{{ field.label }}</label>
                        {{ field }}
                        <span class="ececk_warning error"></span>

                        {% if field.help_text %}
                            <p class="help">{{ field.help_text|safe }}</p>
                        {% endif %}
                    </div>
                {% endfor %}
                <input type="submit" class="btn btn-primary" value="修改">
            </form>
        </div>
        <div class="col-md-2"></div>
    </div>
</div>
</body>
</html>