{% extends 'users_plus.html' %}
{% load static %}
{% block title %}
<title>注册PLUS+</title>
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'bootstrapvalidator-master/dist/css/bootstrapValidator.css' %}">
{% endblock %}

{% block content %}
    <form action="" id="form-val" novalidate>
        {% csrf_token %}
        <span class="login100-form-title p-b-49">注册</span>
        {% for field in form %}
            <div class="form-group">
                <label for="{{ field.auto_id }}" class="form_text_label">{{ field.label }}</label>
                {{ field }}
                <span class="ececk_warning error"></span>

                {% if field.help_text %}
                    <p class="help">{{ field.help_text|safe }}</p>
                {% endif %}
            </div>
        {% endfor %}

        <div class="container-login100-form-btn">
            <div class="wrap-login100-form-btn">
                <div class="login100-form-bgbtn"></div>
                <input type="button" class="login100-form-btn " value="注 册">
            </div>
        </div>
    </form>
{% endblock %}

{% block login_register %}
    <div class="flex-col-c p-t-25">
        <a href="{% url 'users:login' %}" class="txt2">已有账号？立即登陆</a>
    </div>
{% endblock %}

{% block js %}
    <script src="{% static 'bootstrapvalidator-master/dist/js/bootstrapValidator.js' %}"></script>
    <script>
        $(function () {
            $('#form-val').bootstrapValidator({
                excluded: [':disabled', ':hidden', 'csrfmiddlewaretoken'],
                {#                submitButtons: '.login100-form-btn',#}
                feedbackIcons: {//根据验证结果显示的各种图标
                    valid: 'glyphicon glyphicon-ok',
                    invalid: 'glyphicon glyphicon-remove',
                    validating: 'glyphicon glyphicon-refresh'
                },
                fields: {
                    username: {
                        validators: {
                            notEmpty: {
                                message: '用户名不能为空'
                            },
                            stringLength: {
                                max: 18,
                                min: 6,
                                message: '用户名长度必须在6到18位之间'
                            },
                            callback: {
                                callback: function (value, validator) {
                                    if (value.length < 6) {
                                        return {
                                            valid: false,
                                            message: '用户名必须超过6个字符'
                                        }
                                    }
                                    if (value.lenght >18) {
                                        return {
                                            valid: false,
                                            message:'用户名必须小于18个字符'
                                        }
                                    }

                                    return true;
                                }
                            },
                            regexp: {
                                regexp: /^[a-zA-Z0-9_]+$/,
                                message: '用户名只能包含大写、小写、数字和下划线'
                            },
                            threshold: 5,//有2字符以上才发送ajax请求
                            remote: {
                                url: '/users/verification/username/',
                                message: '用户已存在',
                                delay: 1000,
                                type: 'POST'
                            }
                        }
                    },
                    email: {
                        validators: {
                            notEmpty: {
                                message: '邮箱不能为空'
                            },
                            regexp: {
                                regexp: /^([a-zA-Z0-9_-])+@([a-zA-Z0-9_-])+((\.[a-zA-Z0-9_-]{2,3}){1,2})$/,
                                message: '邮箱地址格式有误'
                            },
                            threshold: 8,//有2字符以上才发送ajax请求
                            remote: {
                                url: '/users/verification/email/',
                                message: '邮箱已存在',
                                delay: 1000,
                                type: 'POST'
                            }
                        }
                    },
                    password1: {
                        validators: {
                            notEmpty: {message: '密码不能为空'},
                            different: {  //比较
                                field: 'username', //需要进行比较的input name值
                                message: '密码不能与用户名相同'
                            },
                            callback: {
                                callback: function (value, validator) {
                                    // Check the password strength
                                    if (value.length < 6) {
                                        return {
                                            valid: false,
                                            message: '密码必须超过6个字符'
                                        }
                                    }

                                    if (value === value.toLowerCase()) {
                                        return {
                                            valid: false,
                                            message: '密码必须至少包含一个大写字符'
                                        }
                                    }
                                    if (value === value.toUpperCase()) {
                                        return {
                                            valid: false,
                                            message: '密码必须至少包含一个小写字符'
                                        }
                                    }
                                    if (value.search(/[0-9]/) < 0) {
                                        return {
                                            valid: false,
                                            message: '密码必须至少包含一位数字'
                                        }
                                    }

                                    return true;
                                }
                            }
                        }
                    },
                    password2: {
                        validators: {
                            notEmpty: {message: '请再次输入密码'},
                            identical: {  //比较是否相同
                                field: 'password1',  //需要进行比较的input name值
                                message: '两次密码不一致'
                            }
                        }
                    }

                }
            });
            $(".login100-form-btn").click(function () {//非submit按钮点击后进行验证，如果是submit则无需此句直接验证
                $("#form-val").bootstrapValidator('validate');//提交验证
                if ($("#form-val").data('bootstrapValidator').isValid()) {//获取验证结果，如果成功，执行下面代码
                    $.ajax({
                        url: "",
                        type: "post",
                        data: $("#form-val").serialize(),
                        success: function (data) {
                            if (data.user) {
                                location.href = "/users/login/"
                            }
                            else {//失败
                                $(".error").html("");
                                $(".error").parent().removeClass("has-error");
                                $.each(data.msg, function (field, error_list) {
                                    console.log(field, error_list);

                                    $("#id_" + field).next().next().html(error_list[0]);
                                    $("#id_" + field).parent().addClass("has-error");

                                    //一秒后清空提醒
                                setTimeout(function () {//定时器
                                    $(".error").text("")//由data.msg变成空字符串
                                }, 1000)
                                })
                            }
                        }
                    })
                }
            });

        })

    </script>
{% endblock %}